<link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.css" type="text/css"
    rel="stylesheet">
<link rel="stylesheet" href="../public/css/messenger.css">

<div class="container container-mess" id="{{nameRoom}}">
    <h3 class=" text-center"></h3>
    <div class="messaging">
        <div class="inbox_msg">
            <div class="inbox_people">
                <div class="headind_srch">
                    <div class="recent_heading">
                        <h4>Gần đây</h4>
                    </div>
                    <div class="srch_bar">
                        <div class="stylish-input-group">
                            <input type="text" class="search-bar" placeholder="Tìm kiếm">
                            <span class="input-group-addon">
                                <button type="button"> <i class="fa fa-search" aria-hidden="true"></i> </button>
                            </span>
                        </div>
                    </div>
                </div>
                <div class="inbox_chat">

                    <a href="" class="chat_people">
                        <div class="chat_img"> <img src="../public/img/avatar-default.png" alt="sunil"> </div>
                        <div class="chat_ib">
                            <h5>Xuan<span class="chat_date">Dec 25</span></h5>
                            <p>eeeeeeeeeeeeeeeeeeee.</p>
                        </div>
                    </a>


                </div>
            </div>
            <div class="mesgs pointer" id="{{usermain}}">
                <div class="boxName"> <a href="/{{userchat}}" class="nameUserChat">{{userchat}}</a>
                </div>
                <div class="msg_history" id="msg_history">

                    {{#each bodyRoom}}
                    <div class="aMess" id="{{this.user}}">
                        <div class="incoming_msg">
                            <div class="incoming_msg_img"> <img src="../public/img/avatar-default.png" alt="sunil">
                            </div>
                            <div class="received_msg">
                                <div class="received_withd_msg">
                                    <p id="textMess">{{this.text}}</p>
                                    <span class="time_date"> 11:01 AM | June 9</span>
                                </div>
                            </div>
                        </div>
                    </div>
                    {{/each}}


                </div>
                <div class="type_msg">
                    <div class="input_msg_write">
                        <input type="text" class="write_msg" placeholder="Type a message" id="write_msg" />
                        <button class="msg_send_btn" type="button"><i class="fa fa-paper-plane-o" id="msg_send_btn"
                                aria-hidden="true"></i></button>
                    </div>
                </div>
            </div>
        </div>


    </div>
</div>
<script src="../public/JSclient/messenger.js"></script>


<script>
    var writeMsg = document.getElementById('write_msg');
    var msgSendBtn = document.getElementById('msg_send_btn');
    var nameRoom = document.querySelector('.container.container-mess');
    var userCookie = document.cookie;
    var authUser = userCookie.slice(userCookie.indexOf('=') + 1);
    var msg_history = document.getElementById('msg_history');
    var aMess = Array.from(document.getElementsByClassName('aMess'));
    var mesgs = document.querySelector('.mesgs.pointer');

    // receive data from server , if cookie is mine , dom will change 

    socket.on('response-text', (writeMsg, auth) => {
        if (auth == authUser) {
            msg_history.insertAdjacentHTML('beforeend', `<div class="aMess"><div class="outgoing_msg">
                        <div class="sent_msg">
                            <p>${writeMsg}</p>
                            <span class="time_date"> 11:01 AM | June 9</span>
                        </div>
                    </div> </div>`);
        }
        else {
            msg_history.insertAdjacentHTML('beforeend', `<div class="aMess"><div class="incoming_msg">
                        <div class="incoming_msg_img"> <img src="../public/img/avatar-default.png" alt="sunil"> </div>
                        <div class="received_msg">
                            <div class="received_withd_msg">
                                <p>${writeMsg}</p>
                                <span class="time_date"> 11:01 AM | Yesterday</span>
                            </div>
                        </div>
                    </div> </div>`);
        }
    });

    aMess.forEach((e) => {
        if (e.id == mesgs.id) {
            var textMess = e.lastElementChild.lastElementChild.lastElementChild.firstElementChild.textContent;
            e.innerHTML = '';
            e.innerHTML = `<div class="outgoing_msg">
                        <div class="sent_msg">
                            <p>${textMess}</p>
                            <span class="time_date"> 11:01 AM | June 9</span>
                        </div>
                    </div>`
        }
    });

    writeMsg.onkeypress = (e) => {
        if (e.keyCode == 13) {
            msgSendBtn.click();
        }
    }

    msgSendBtn.onclick = (e) => {
        if (writeMsg.value) {
            socket.emit('send-message', writeMsg.value.trim(), authUser, nameRoom.id);
            writeMsg.value = '';
        }
        else {
            e.preventDefault();
        }
    }


</script>