<link rel="stylesheet" href="../public/css/profile.css">

<div class="container profilepage">
    <div class="row spaceProfile g-0">
        <div class="spaceAvatar">
            <div class="leftAvatar">
                <div class="itemAvatar follow">Theo Dõi</div>
            </div>
            <div class="divavatar">
                <img src="../public/img/ImageSignIn/ggplay.png" alt="avatar" srcset="" class="imgavt">
            </div>
            <div class="rightAvatar">
                <div class="itemAvatar msg"><i class=" iconmsg far fa-envelope"></i> Nhắn tin</div>
            </div>
        </div>
        <div class="spaceInfo">
            <div class="alignspace">
                <form action="" method="post" class="formprofile">
                    <ul class="info">
                        <li class="iteminfo">Tên đầy đủ : <input class="inputprofile" type="text" name="FullName"
                                id="FullName" value="{{user._name}}"></li>
                        <li class="iteminfo">Tên người dùng : <input class="inputprofile" type="text" name="userName"
                                id="userName" value="{{user.username}}"></li>
                        <li class="iteminfo">Ngày sinh : <input class="inputprofile" type="date" name="birthday"
                                id="birthday" value="{{birthday}}"> </li>
                        <li class="iteminfo">Quê quán : <input class="inputprofile" type="text" name="city" id="city"
                                value="{{user.city}}"> </li>
                        <li class="iteminfo" id="itemlink">Link : <input class="inputprofile" type="text" name="link"
                                id="link" value="{{user.link}}"></li>
                    </ul>
                    <button type="submit" class="submitprofile" id="submitprofile" name="{{usermain}}">Thay đổi</button>
                </form>
            </div>
        </div>
    </div>

</div>

<script>
    var userName = document.querySelector('#userName');
    var submitprofile = document.querySelector('#submitprofile');
    var inputprofile = Array.from(document.getElementsByClassName('inputprofile'));
    var link = document.querySelector('#link');
    var birthday = document.querySelector('#birthday');
    if (!birthday.value) {
        birthday.value = '2004-09-09'
    }
    if (userName.value != submitprofile.name) {
        submitprofile.style.display = 'none';
        inputprofile.forEach((elm) => {
            elm.setAttribute('disabled', 'true');
            elm.style.border = 'none';
        })
        var itemlink = document.querySelector('#itemlink');
        var aLink = link.value;
        if (aLink.indexOf('www.') == -1 || aLink.indexOf('http') == -1)
            itemlink.innerHTML = `Link : <a href="www.${aLink}" target="_blank">${aLink}</a>`;
        else
            itemlink.innerHTML = `Link : <a href="${aLink}" target="_blank">${aLink}</a>`;

    }
</script>